@charset "UTF-8";
.mobile {
  display: none !important;
}

.hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}

header {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100px;
  padding: 0 3.125%;
  background: #fff;
}
header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  width: 100%;
  height: 100%;
  margin: auto;
}
header .header_inner h1.logo a {
  display: block;
  width: 200px;
  height: 32px;
  background: url("../images/logo_bk.svg") no-repeat center/contain;
}
header .header_inner .gnb_area ol {
  display: flex;
  gap: 62px;
  font-size: 20px;
  font-weight: 500;
}
header .header_inner .gnb_area ol > li > a {
  line-height: 100px;
}
header .header_inner .gnb_area ol .gnb_list2 {
  position: relative;
}
header .header_inner .gnb_area ol .gnb_list2 span {
  display: inline-block;
  padding-right: 22px;
  line-height: 100px;
  background: url("../images/icon/icon-dropdown.svg") no-repeat calc(100% - 3px) 50%/16px;
  cursor: pointer;
}
header .header_inner .gnb_area ol .gnb_list2 .depth_list {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 30;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 218px;
  padding: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}
header .header_inner .gnb_area ol .gnb_list2 .depth_list a {
  line-height: 30px;
}
header .header_inner .gnb_area ol .gnb_list2 .depth_list li:hover a {
  color: #4267EB;
}
header .header_inner .gnb_area ol .gnb_list2 .depth_list.active {
  height: auto;
  padding: 30px;
  opacity: 1;
}
header .header_inner .service_area .btn {
  width: 126px;
  height: 44px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  width: 100%;
  color: #D3D6E4;
  font-weight: 300;
  background: #111;
}
footer h3 {
  color: #F6FAFF;
  font-weight: 400;
}
footer .corp_area {
  display: flex;
}
footer .corp_area a {
  color: #D3D6E4;
  text-decoration: underline;
}
footer .contact_area ul {
  display: flex;
}
footer .contact_area ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}
footer .contact_area ul li i {
  font-style: normal;
}
footer .contact_area ul li span {
  display: block;
}
footer .contact_area ul li.tel span {
  background: url("../images/icon/icon-phone.svg") no-repeat center/contain;
}
footer .contact_area ul li.e-mail span {
  background: url("../images/icon/icon-message.svg") no-repeat center/contain;
}
footer .pc {
  max-width: 1800px;
  margin: auto;
  padding: 80px 3.125%;
}
footer .pc .footer_top {
  display: flex;
  justify-content: space-between;
}
footer .pc .footer_top > div {
  display: flex;
}
footer .pc .footer_top > div h3 {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
}
footer .pc .footer_top > div .corp_area a {
  margin-left: 20px;
  font-size: 14px;
}
footer .pc .footer_top .contact_area ul {
  gap: 15px;
}
footer .pc .footer_top .contact_area ul span {
  width: 24px;
  height: 24px;
}
footer .pc .footer_bottom .info span {
  position: relative;
  padding-right: 32px;
  font-size: 14px;
  line-height: 19px;
}
footer .pc .footer_bottom .info span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: block;
  width: 2px;
  height: 2px;
  background: #D3D6E4;
}
footer .pc .footer_bottom .info span:last-child {
  padding: 0;
}
footer .pc .footer_bottom .info span:last-child::after {
  display: none;
}
footer .pc .footer_bottom p {
  margin-top: 10px;
  font-size: 13px;
  line-height: 19px;
}
footer .mobile .footer_top {
  height: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer .mobile .footer_top .corp_area {
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100%;
  font-size: 11px;
}
footer .mobile .footer_bottom {
  padding: 32px 0;
  text-align: center;
}
footer .mobile .footer_bottom h3 {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
}
footer .mobile .footer_bottom .info span {
  display: block;
  font-size: 11px;
  line-height: 16px;
}
footer .mobile .footer_bottom .copy {
  margin-top: 15px;
  font-size: 10px;
  line-height: 15px;
}
footer .mobile .footer_bottom .copy span {
  display: block;
}
footer .mobile .footer_bottom .contact_area {
  margin-top: 20px;
}
footer .mobile .footer_bottom .contact_area ul {
  display: inline-block;
}
footer .mobile .footer_bottom .contact_area ul li {
  margin: 10px auto 0;
}
footer .mobile .footer_bottom .contact_area ul li span {
  width: 20px;
  height: 20px;
}
footer .mobile .footer_bottom .contact_area ul li i {
  font-size: 12px;
}
footer .mobile .footer_bottom .contact_area ul li:first-child {
  width: 145px;
  margin-bottom: 0;
}

main {
  min-height: calc(100vh - 250px);
}

.section_inner {
  max-width: 1920px;
  margin: auto;
}
.section_inner h3.cont_title {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}
.section_inner ul.tab_list {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.section_inner ul.tab_list li {
  color: #C1C1C1;
  font-size: 24px;
  font-weight: 500;
  line-height: 55px;
  cursor: pointer;
  transition: 0.3s;
}
.section_inner ul.tab_list li:hover {
  color: #4267EB;
  font-weight: 700;
}
.section_inner ul.tab_list li.active {
  color: #4267EB;
  font-weight: 700;
}

.aside_cont {
  max-width: 1260px;
  padding: 0 10px;
  margin: auto;
}
.aside_cont .desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background: #F6FAFF;
  border-radius: 30px;
}
.aside_cont .desc p {
  font-size: 32px;
  font-weight: 700;
  line-height: 76px;
  padding: 0 4.839% 0 106px;
  background: url("../images/inquiry-img.svg") no-repeat 0 50%/76px;
}
.aside_cont .desc .btn {
  width: 200px;
  height: 76px;
  font-size: 26px;
  font-weight: 700;
}

.essential_item {
  position: relative;
  display: inline-block;
  padding-right: 12px;
}
.essential_item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: url("../images/icon/icon-star.svg") no-repeat center/contain;
}

/* ---------- btn ---------- */
.channelTalk_btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 30;
  width: 60px;
  height: 60px;
  background: #4267EB;
  border-radius: 30px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: 0.3s;
}
.channelTalk_btn .icon_box {
  width: 100%;
  height: 100%;
  background: url("../images/icon/icon-channeltalk.svg") no-repeat center/30px;
}
.channelTalk_btn:hover {
  background: #0B1293;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  background: #4267EB;
  border-radius: 100px;
  letter-spacing: -0.03em;
  transition: 0.3s;
}
.btn:hover {
  background: #0B1293;
}
.btn:disabled {
  background: #d9d9d9;
  cursor: initial;
}

.btn_wh {
  color: #4267EB;
  background: #fff;
  border: 1px solid #4267EB;
}
.btn_wh:hover {
  color: #fff;
  background: #4267EB;
}
.btn_wh:disabled {
  background: #fff;
  color: #d9d9d9;
  border-color: #d9d9d9;
}

.more_info_btn {
  display: inline-block;
  padding-right: 28px;
  font-size: 20px;
  color: #4267EB;
  font-weight: 500;
  line-height: 36px;
  background: url("../images/icon/icon-arrow-right.svg") no-repeat right center/20px;
  cursor: pointer;
}

/* ---------- swiper ---------- */
.swiper-button-prev {
  width: 90px;
  height: 90px;
  left: 6.25%;
  background: url("../images/icon/slide-arrow-left.svg") no-repeat center/contain;
  border-radius: 100px;
  transition: 0.3s;
}
.swiper-button-prev::after {
  content: "";
}
.swiper-button-prev:hover {
  background-image: url("../images/icon/slide-arrow-left-hover.svg");
}
.swiper-button-prev.swiper-button-disabled {
  background-image: url("../images/icon/slide-arrow-left-inactive.svg");
  opacity: 1;
}

.swiper-button-next {
  width: 90px;
  height: 90px;
  right: 6.25%;
  background: url("../images/icon/slide-arrow-right.svg") no-repeat center/contain;
  border-radius: 100px;
  transition: 0.3s;
}
.swiper-button-next::after {
  content: "";
}
.swiper-button-next:hover {
  background-image: url("../images/icon/slide-arrow-right-hover.svg");
}
.swiper-button-next.swiper-button-disabled {
  background-image: url("../images/icon/slide-arrow-right-inactive.svg");
  opacity: 1;
}

.swiper > .swiper-pagination {
  bottom: 0;
}
.swiper > .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 4px;
  margin: 0 3px;
  border-radius: 2px;
  background: #D3D6E4;
  opacity: 1;
}
.swiper > .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4267EB;
}

/* ---------- select ---------- */
.select_wrap {
  position: relative;
  font-size: 20px;
  line-height: 1.45;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 26px;
  cursor: pointer;
}
.select_wrap .selected {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 53px;
  padding: 0 20px;
}
.select_wrap .selected .selected_category {
  flex: 1;
  font-size: 16px;
  color: #9c9c9c;
  font-weight: 700;
}
.select_wrap .selected .selected_value {
  width: 51.875%;
  font-weight: 500;
  color: #4267EB;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select_wrap .selected .select_btn {
  width: 16px;
  height: 16px;
  background: url("../images/icon/icon-dropdown.svg") no-repeat center/contain;
}
.select_wrap .select_option_list {
  position: absolute;
  top: 53px;
  left: -1px;
  z-index: 5;
  width: calc(100% + 2px);
  height: 0;
  background: #fff;
  overflow: hidden;
}
.select_wrap .select_option_list .select_option {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  padding: 0 20px;
  white-space: nowrap;
}
.select_wrap .select_option_list .select_option:last-child {
  margin-bottom: 0;
}
.select_wrap .select_option_list .select_option span {
  display: block;
  width: 51.875%;
  color: #555;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select_wrap .select_option_list .select_option .null_left {
  flex: 1;
}
.select_wrap .select_option_list .select_option .null_right {
  width: 16px;
}
.select_wrap.active {
  border: 1px solid #4267EB;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select_wrap.active .select_btn {
  background: url("../images/icon/icon-dropup-bl.svg") no-repeat center/17px;
}
.select_wrap.active .select_option_list {
  height: auto;
  padding: 16px 0 24px;
  border-bottom: 1px solid #4267EB;
  border-left: 1px solid #4267EB;
  border-right: 1px solid #4267EB;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

/* ---------- input style ---------- */
input[type=text] {
  position: relative;
  height: 60px;
  padding: 10px 40px 10px 15px;
  font-size: 20px;
  line-height: 1.45;
  border: 0;
  border-bottom: 1px solid #C1C1C1;
}

input::placeholder {
  color: #d9d9d9;
}

input[type=text]:disabled {
  background: #fff;
}

input[type=text]:focus {
  color: #111;
  outline: none !important;
  border-bottom: 1px solid #111;
}

.input_wrap span {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon/icon-txtinput-x.svg") no-repeat center/contain;
  cursor: pointer;
}
.input_wrap span.delete_btn {
  background-image: url("../images/icon/icon-txtinput-x.svg");
}
.input_wrap span.complete_btn {
  background-image: url("../images/icon/icon-txtinput-check.svg");
  cursor: initial;
}

.check_box_wrap {
  display: flex;
  align-items: center;
}
.check_box_wrap input[type=checkbox] {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border: 1px solid #c1c1c1;
  background: #fff;
  border-radius: 8px;
  appearance: none;
  cursor: pointer;
}
.check_box_wrap input[type=checkbox]:checked {
  background: url("../images/icon/icon-checkbox.svg") no-repeat center/32px;
  border: none;
}
.check_box_wrap label {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
  cursor: pointer;
}

.radio_box_wrap {
  position: relative;
  display: flex;
}
.radio_box_wrap input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.radio_box_wrap input[type=radio] + label {
  display: inline-block;
  position: relative;
  padding-left: 44px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.radio_box_wrap input[type=radio] + label:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: -2px;
  width: 36px;
  height: 36px;
  text-align: center;
  background: url("../images/icon/icon-check-gr.svg") no-repeat center/20px, #fff;
  border: 1px solid #D9D9D9;
  border-radius: 100%;
}
.radio_box_wrap input[type=radio]:checked + label:before {
  border: 1px solid #4267EB;
  background: url("../images/icon/icon-check.svg") no-repeat center/20px, #4267EB;
}
.radio_box_wrap.checked label {
  color: #4267EB;
  font-weight: 700 !important;
}

.input_range_area {
  width: 100%;
  padding-bottom: 25px;
}
.input_range_area .range_info {
  display: flex;
  color: #555;
  height: 26px;
}
.input_range_area .range_box_wrap {
  position: relative;
  width: 94.773%;
  height: 28px;
  margin: auto;
  border: 1px solid transparent;
}
.input_range_area .range_box_wrap input[type=range] {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  transform: translateY(-50%);
  width: 100%;
  outline: none;
  border: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  pointer-events: none;
}
.input_range_area .range_box_wrap input[type=range]:focus {
  outline: none;
}
.input_range_area .range_box_wrap input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  background: #4267EB;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}
.input_range_area .range_box_wrap .range_full_background {
  position: relative;
  width: 98.321%;
  height: 8px;
  margin: 9px auto 0;
  background: #d9d9d9;
  border-radius: 4px;
}
.input_range_area .range_box_wrap .range_full_background .range_value_background {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #4267EB;
  border-radius: 4px;
}
.input_range_area .range_box_wrap .range_full_background .range_dot_wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1px;
}
.input_range_area .range_box_wrap .range_full_background .range_dot_wrap li {
  position: relative;
  width: 5px;
  height: 5px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
.input_range_area .range_box_wrap .range_full_background .range_dot_wrap li::after {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #555;
  font-size: 16px;
  line-height: 24px;
}
.input_range_area .range_box_wrap.disabled {
  filter: grayscale(100);
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(1):after {
  content: "50";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(2):after {
  content: "100";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(3):after {
  content: "200";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(4):after {
  content: "300";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(5):after {
  content: "400";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(6):after {
  content: "500";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(7):after {
  content: "600";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(8):after {
  content: "700";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(9):after {
  content: "800";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(10):after {
  content: "900";
}
.input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(11):after {
  content: "1,000이상";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(1):after {
  content: "0%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(2):after {
  content: "10%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(3):after {
  content: "20%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(4):after {
  content: "30%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(5):after {
  content: "40%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(6):after {
  content: "50%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(7):after {
  content: "60%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(8):after {
  content: "70%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(9):after {
  content: "80%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(10):after {
  content: "90%";
}
.input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(11):after {
  content: "100%";
}
.input_range_area .range_box_wrap1 .range_full_background .range_dot_wrap li:nth-child(1):after {
  content: "10";
}
.input_range_area .range_box_wrap1 .range_full_background .range_dot_wrap li:nth-child(2):after {
  content: "20";
}
.input_range_area .range_box_wrap1 .range_full_background .range_dot_wrap li:nth-child(3):after {
  content: "30";
}
.input_range_area .range_box_wrap1 .range_full_background .range_dot_wrap li:nth-child(4):after {
  content: "40";
}
.input_range_area .range_box_wrap1 .range_full_background .range_dot_wrap li:nth-child(5):after {
  content: "50";
}
.input_range_area .range_box_wrap1 .range_full_background .range_dot_wrap li:nth-child(6):after {
  content: "60이상";
}
.input_range_area.input_range_area1 {
  padding-top: 65px;
}
.input_range_area.input_range_area1 .range_full_background .range_value_background {
  left: 20%;
  width: 40%;
}
.input_range_area.input_range_area3 .range_info {
  justify-content: flex-end;
  font-size: 16px;
  line-height: 22px;
}
.input_range_area.input_range_area3 .range_full_background .range_value_background {
  width: 30%;
  background: none;
}
.input_range_area.input_range_area4 .range_info {
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.fade_animation1 {
  animation: fade_up 0.3s forwards;
}

.fade_animation2 {
  animation: fade_up 0.5s forwards;
}

@keyframes fade_up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* ---------- tablet & mobile ---------- */
@media screen and (max-width: 1024px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  header {
    height: 56px;
    padding: 0 4.444%;
  }
  header .header_inner h1.logo a {
    width: 135px;
    height: 22px;
    background-image: url("../images/logo_mo_bk.svg");
  }
  header .header_inner .gnb_area ol {
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 50;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    height: 0;
    padding: 0;
    font-size: 16px;
    background: #fff;
    overflow: hidden;
  }
  header .header_inner .gnb_area ol > li > a {
    line-height: 23px;
  }
  header .header_inner .gnb_area ol .gnb_list2 span {
    line-height: 23px;
  }
  header .header_inner .gnb_area ol .gnb_list2 .depth_list {
    position: initial;
    top: auto;
    left: auto;
    transform: translateX(0);
    gap: 16px;
    width: 100%;
    background: none;
    box-shadow: none;
  }
  header .header_inner .gnb_area ol .gnb_list2 .depth_list a {
    font-size: 14px;
    line-height: 20px;
    color: #555;
  }
  header .header_inner .gnb_area ol .gnb_list2 .depth_list.active {
    padding: 16px;
  }
  header .header_inner .gnb_area.open ol {
    height: calc(100vh - 56px);
    padding: 40px 0;
  }
  header .header_inner .service_area {
    position: relative;
    flex: 1;
    height: 30px;
  }
  header .header_inner .service_area .btn {
    position: absolute;
    top: 0;
    right: 16px;
    width: 82px;
    height: 30px;
    font-size: 12px;
  }
  header .header_inner .mobile_menu_btn button {
    width: 30px;
    height: 30px;
    background: url("../images/icon/icon-menu-bl.svg") no-repeat center/contain;
  }
  main {
    min-height: calc(100vh - 352px);
  }
  .section_inner h3.cont_title {
    font-size: 24px;
    line-height: 35px;
  }
  .section_inner ul.tab_list li {
    font-size: 16px;
    line-height: 35px;
  }
  .channelTalk_btn {
    right: 20px;
    bottom: 20px;
  }
  .aside_cont {
    width: 88.889%;
    padding: 0;
    margin: auto;
  }
  .aside_cont .desc {
    flex-direction: column;
    gap: 32px;
  }
  .aside_cont .desc p {
    width: 51%;
    padding: 64px 0 0;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    background-size: 60px;
    background-position: 50% 0;
  }
  .aside_cont .desc .btn {
    width: 120px;
    height: 44px;
    font-size: 14px;
  }
  .essential_item {
    padding-right: 10px;
    font-size: 13px;
    line-height: 19px;
  }
  .essential_item::after {
    width: 10px;
    height: 10px;
  }
  .more_info_btn {
    padding-right: 20px;
    font-size: 14px;
    line-height: 20px;
    background-size: 14px;
  }
  /* ---------- select ---------- */
  .select_wrap {
    font-size: 14px;
    line-height: 20px;
  }
  .select_wrap .selected {
    height: 44px;
  }
  .select_wrap .selected .selected_category {
    font-size: 13px;
    line-height: 19px;
  }
  .select_wrap .select_option_list {
    top: 42px;
  }
  /* ---------- input style ---------- */
  input[type=text] {
    height: 44px;
    padding: 10px 28px 10px 4px;
    font-size: 14px;
    line-height: 19px;
  }
  .input_wrap span {
    width: 20px;
    height: 20px;
  }
  .inquiry_essential_item {
    padding-left: 10px;
    background-size: 8px;
  }
  .check_box_wrap input[type=checkbox] {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  .check_box_wrap input[type=checkbox]:checked {
    background-size: 20px;
  }
  .check_box_wrap label {
    font-size: 13px;
    line-height: 19px;
  }
  .radio_box_wrap input[type=radio] + label {
    padding-left: 28px;
  }
  .radio_box_wrap input[type=radio] + label:before {
    width: 24px;
    height: 24px;
    background-size: 13px;
  }
  .radio_box_wrap input[type=radio]:checked + label:before {
    background-size: 13px;
  }
  .input_range_area .range_info {
    height: 18px;
  }
  .input_range_area .range_box_wrap {
    width: 90%;
    height: 20px;
  }
  .input_range_area .range_box_wrap input[type=range]::-webkit-slider-thumb {
    width: 23px;
    height: 23px;
    padding: 5px;
    border-width: 3px;
  }
  .input_range_area .range_box_wrap .range_full_background {
    height: 6px;
    margin-top: 6px;
  }
  .input_range_area .range_box_wrap .range_full_background .range_value_background {
    height: 6px;
  }
  .input_range_area .range_box_wrap .range_full_background .range_dot_wrap {
    padding: 0;
  }
  .input_range_area .range_box_wrap .range_full_background .range_dot_wrap li {
    width: 3px;
    height: 3px;
  }
  .input_range_area .range_box_wrap .range_full_background .range_dot_wrap li::after {
    top: 12px;
    font-size: 12px;
    line-height: 18px;
  }
  .input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(2):after,
  .input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(2):after {
    content: "";
  }
  .input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(4):after,
  .input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(4):after {
    content: "";
  }
  .input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(6):after,
  .input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(6):after {
    content: "";
  }
  .input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(8):after,
  .input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(8):after {
    content: "";
  }
  .input_range_area .range_box_wrap3 .range_full_background .range_dot_wrap li:nth-child(10):after,
  .input_range_area .range_box_wrap4 .range_full_background .range_dot_wrap li:nth-child(10):after {
    content: "";
  }
  .input_range_area.input_range_area3 .range_info {
    font-size: 12px;
    line-height: 18px;
  }
  .input_range_area.input_range_area4 .range_info {
    font-size: 12px;
    line-height: 18px;
  }
}