@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
#main .section_inner {
  padding: 100px 0 110px;
}
#main .section_inner .cont_list {
  margin-top: 15px;
}
#main .sect1 .section_inner {
  position: relative;
  height: 930px;
}
#main .sect1 h2.main_title span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  font-size: 70px;
  font-weight: 700;
  line-height: 101px;
  white-space: nowrap;
}
#main .sect1 h2.main_title span:first-child {
  top: 220px;
  animation: text_animation1 1s forwards 1.2s;
}
#main .sect1 h2.main_title span:last-child {
  top: 321px;
  animation: text_animation2 1s forwards 1.2s;
}
#main .sect1 .cont_img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 87.5%;
  height: 440px;
  border-radius: 30px 30px 0px 0px;
  background: url(../images/visual-img2.png) no-repeat center/cover;
  overflow: hidden;
  animation: main_visual 1s forwards 1s;
}
#main .sect1 .cont_img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 57.53%), radial-gradient(29.71% 32.37% at 33.57% 52.31%, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
}
#main .sect2 {
  height: 1200px;
}
#main .sect2 .cont_title {
  margin-bottom: 15px;
}
#main .sect2 .sect2_slide {
  height: 820px;
  margin-top: 30px;
}
#main .sect2 .sect2_slide .swiper-slide1 .sect2_cont_slide1 {
  padding-top: 50px;
}
#main .sect2 .sect2_slide .swiper-slide1 .sect2_cont_slide1 .swiper-slide {
  width: 1000px !important;
}
#main .sect2 .sect2_slide .swiper-slide2 .slide_cont_area {
  max-width: 1260px;
  padding: 50px 10px 30px;
  margin: auto;
}
#main .sect2 .sect2_slide .swiper-slide2 .slide_cont_area ul {
  display: flex;
  justify-content: space-between;
}
#main .sect2 .sect2_slide .swiper-slide2 .slide_cont_area ul li {
  width: 47.581%;
}
#main .sect2 .sect2_slide .swiper-slide2 .slide_cont_area ul li .img_box {
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
}
#main .sect2 .sect2_slide .swiper-slide2 .slide_cont_area ul li .img_box img {
  width: auto;
  height: 100%;
}
#main .sect2 .sect2_slide .swiper-slide2 .slide_cont_area ul li .txt_box {
  padding: 32px 10px 0;
}
#main .sect2 .sect2_slide .swiper-slide2 .slide_cont_area ul li .txt_box h5 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}
#main .sect2 .sect2_slide .swiper-slide2 .slide_cont_area ul li .txt_box p {
  margin: 10px 0;
  font-size: 20px;
  color: #555;
  line-height: 1.4;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont h4 {
  font-weight: 700;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 {
  padding-top: 60px;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide {
  width: 380px;
  border-radius: 0;
  opacity: 0.2;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide.swiper-slide-prev, #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide.swiper-slide-active, #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide.swiper-slide-next {
  opacity: 1;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide .img_box {
  position: relative;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide .txt_box {
  padding: 32px 10px 10px;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide .txt_box h5 {
  font-size: 28px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide .txt_box p {
  margin-top: 10px;
  font-size: 20px;
  color: #555;
  line-height: 1.5;
  text-align: center;
}
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-button-next,
#main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-button-prev {
  top: 190px;
}
#main .sect2 .sect2_slide .swiper-slide4 .slide_cont h4 {
  font-weight: 700;
}
#main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area {
  max-width: 1260px;
  padding: 60px 10px 0;
  margin: auto;
}
#main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 36px;
}
#main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li {
  width: 30.645%;
}
#main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  background: #F5F5F5;
  border-radius: 30px;
  overflow: hidden;
}
#main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .img_box img {
  width: 220px;
}
#main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .txt_box {
  padding: 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .txt_box h5 {
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
}
#main .sect3 {
  height: 1200px;
  background: #F5F5F5;
}
#main .sect3 .cont_title {
  margin-bottom: 15px;
}
#main .sect3 .sect3_slide {
  height: 820px;
  margin-top: 30px;
}
#main .sect3 .sect3_slide .swiper-slide1 .sect3_cont_slide1 {
  padding-top: 50px;
}
#main .sect3 .sect3_slide .swiper-slide1 .sect3_cont_slide1 .swiper-slide {
  width: 1000px !important;
}
#main .sect3 .sect3_slide .swiper-slide2 .slide_cont_area {
  max-width: 1260px;
  padding: 50px 10px 30px;
  margin: auto;
}
#main .sect3 .sect3_slide .swiper-slide2 .slide_cont_area ul {
  display: flex;
  justify-content: space-between;
}
#main .sect3 .sect3_slide .swiper-slide2 .slide_cont_area ul li {
  width: 47.581%;
}
#main .sect3 .sect3_slide .swiper-slide2 .slide_cont_area ul li .img_box {
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
}
#main .sect3 .sect3_slide .swiper-slide2 .slide_cont_area ul li .img_box img {
  width: auto;
  height: 100%;
}
#main .sect3 .sect3_slide .swiper-slide2 .slide_cont_area ul li .txt_box {
  padding: 32px 10px 0;
}
#main .sect3 .sect3_slide .swiper-slide2 .slide_cont_area ul li .txt_box h5 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}
#main .sect3 .sect3_slide .swiper-slide2 .slide_cont_area ul li .txt_box p {
  margin: 10px 0;
  font-size: 20px;
  color: #555;
  line-height: 1.4;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont h4 {
  font-weight: 700;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 {
  padding-top: 60px;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide {
  width: 380px !important;
  border-radius: 0;
  opacity: 0.2;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide.swiper-slide-prev, #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide.swiper-slide-active, #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide.swiper-slide-next {
  opacity: 1;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .img_box {
  position: relative;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .txt_box {
  padding: 32px 10px 10px;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .txt_box h5 {
  font-size: 28px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .txt_box p {
  margin-top: 10px;
  font-size: 20px;
  color: #555;
  line-height: 1.5;
  text-align: center;
}
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-button-next,
#main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-button-prev {
  top: 190px;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont h4 {
  font-weight: 700;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 {
  padding-top: 60px;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide {
  display: flex;
  width: 1000px !important;
  height: 600px;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .img_box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  overflow: hidden;
  background: #fff;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .img_box img {
  max-width: 380px;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 40px 4%;
  background: #fff;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box p {
  margin-top: 6px;
  color: #555;
  font-size: 20px;
  line-height: 1.4;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box .detail_info {
  padding-top: 24px;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box .detail_info b {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box .detail_info .detail_list {
  padding: 16px 0;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box .detail_info .detail_list dl {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
  color: #555;
  font-size: 20px;
  line-height: 29px;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box .detail_info .detail_list dl dt {
  font-weight: 700;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box .detail_info .detail_list li:last-child dl {
  margin-bottom: 0;
}
#main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box .more_info_btn {
  position: absolute;
  left: 40px;
  bottom: 40px;
}
#main .slide_cont {
  padding: 30px 0;
}
#main .slide_cont h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
  opacity: 0;
}
#main .slide_cont i {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  color: #555;
  font-weight: 500;
  font-style: normal;
  line-height: 35px;
  text-align: center;
  opacity: 0;
}
#main .slide_cont > div {
  opacity: 0;
}
#main .slide_cont .swiper-slide {
  position: relative;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
}
#main .slide_cont .swiper-slide.swiper-slide-prev, #main .slide_cont .swiper-slide.swiper-slide-next {
  opacity: 0.2;
}
#main .slide_cont .swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main .slide_cont .swiper-slide .slide_desc {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 160px;
  padding-top: 32px;
  color: #fff;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  background: rgba(51, 51, 51, 0.6);
  backdrop-filter: blur(5px);
  transition: 0.3s;
}
#main .slide_cont .swiper-slide .slide_desc b {
  display: block;
  font-weight: 400;
}
#main .slide_cont .swiper-slide.swiper-slide-active:hover .slide_desc {
  bottom: 0;
}
#main .slide_cont.swiper_mobile {
  height: 0;
  overflow: hidden;
  padding: 0;
}
#main .slide_cont .swiper-pagination {
  display: none;
}
#main .sect4 {
  padding-bottom: 40px;
}
#main .sect4 .cont_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  max-width: 1260px;
  margin: auto;
  padding: 70px 10px 120px;
}
#main .sect4 .cont_list li {
  width: 30.645%;
  padding: 32px 20px;
  border-radius: 30px;
  background: #F5F5F5;
}
#main .sect4 .cont_list li b {
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  color: #4267EB;
  font-weight: 500;
}
#main .sect4 .cont_list li .icon_box {
  width: 160px;
  height: 160px;
  margin: auto;
}
#main .sect4 .cont_list li p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 24px;
  color: #333;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}

#header_area.on header {
  background: none;
  transition: 0.5s;
}
#header_area.on header .header_inner h1.logo a {
  background-image: url("../images/logo_wh.svg");
}
#header_area.on header .gnb_area ol a {
  color: #fff;
}
#header_area.on header .gnb_area ol .gnb_list2 {
  color: #fff;
}
#header_area.on header .gnb_area ol .gnb_list2 span {
  background-image: url("../images/icon/icon-dropdown-w.svg");
}
#header_area.on header .gnb_area ol .depth_list {
  background: rgba(51, 51, 51, 0.6);
}
#header_area.on header .gnb_area ol .depth_list li:hover a {
  color: #4267EB;
}
#header_area.on header .mobile_menu_btn button {
  background-image: url("../images/icon/icon-menu-wh.svg");
}

#section_pagenation {
  position: fixed;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  z-index: 50;
}
#section_pagenation li {
  position: relative;
  width: 12px;
  height: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}
#section_pagenation li .section_pagenation_dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 8px;
  border: 2px solid #A8B1CE;
}
#section_pagenation li .section_pagenation_dot.active {
  width: 12px;
  height: 12px;
  border: 3px solid #4267EB;
}
#section_pagenation li:last-child {
  margin-bottom: 0;
}
#section_pagenation.on li .section_pagenation_dot {
  border-color: #fff;
}
#section_pagenation.on li .section_pagenation_dot.active {
  border-color: #fff;
}

@keyframes text_animation1 {
  100% {
    top: 364px;
    left: 17.708%;
    transform: translateX(0);
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
}
@keyframes text_animation2 {
  100% {
    top: 465px;
    left: 17.708%;
    transform: translateX(0);
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
}
@keyframes main_visual {
  100% {
    width: 100vw;
    height: 100%;
    border-radius: 0;
  }
}
@media screen and (max-width: 1024px) {
  #main .section_inner {
    padding: 50px 0 25px;
  }
  #main .sect1 .section_inner {
    height: 740px;
  }
  #main .sect1 .section_inner h2.main_title span {
    font-size: 32px;
    line-height: 46px;
  }
  #main .sect1 .section_inner h2.main_title span:first-child {
    top: 170px;
  }
  #main .sect1 .section_inner h2.main_title span:last-child {
    top: 216px;
  }
  #main .sect1 .section_inner .cont_img {
    width: 88.889%;
    height: 415px;
    border-radius: 20px 20px 0px 0px;
    background-size: auto 125%;
    background-position: 67.498% 10%;
  }
  #main .sect2 {
    height: 640px;
    overflow: hidden;
    transition: 0.3s;
  }
  #main .sect2 .cont_title {
    margin-bottom: 20px;
  }
  #main .sect2 .sect2_slide {
    height: 560px;
    margin-top: 10px;
  }
  #main .sect2 .sect2_slide .swiper-slide1 .sect2_cont_slide1 {
    padding: 20px 0 44px;
  }
  #main .sect2 .sect2_slide .swiper-slide1 .sect2_cont_slide1 .swiper-slide {
    width: 77.778% !important;
  }
  #main .sect2 .sect2_slide .swiper-slide1 .sect2_cont_slide1 .swiper-slide .img_box img {
    top: 30%;
    transform: translate(-50%, -30%);
    width: auto;
    height: 150%;
  }
  #main .sect2 .sect2_slide .swiper-slide2 .slide_cont .sect2_cont_slide2 {
    padding-top: 17px;
  }
  #main .sect2 .sect2_slide .swiper-slide2 .slide_cont .sect2_cont_slide2 .swiper-slide {
    width: 83.333%;
    height: 366px;
  }
  #main .sect2 .sect2_slide .swiper-slide2 .slide_cont .sect2_cont_slide2 .swiper-slide .img_box {
    position: relative;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
  }
  #main .sect2 .sect2_slide .swiper-slide2 .slide_cont .sect2_cont_slide2 .swiper-slide .txt_box {
    width: 97.333%;
    margin: auto;
    padding-top: 16px;
  }
  #main .sect2 .sect2_slide .swiper-slide2 .slide_cont .sect2_cont_slide2 .swiper-slide .txt_box h5 {
    font-size: 16px;
    line-height: 23px;
  }
  #main .sect2 .sect2_slide .swiper-slide2 .slide_cont .sect2_cont_slide2 .swiper-slide .txt_box p {
    margin: 6px 0;
    font-size: 14px;
    color: #555;
    line-height: 19px;
  }
  #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 {
    padding-top: 20px;
  }
  #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide {
    width: 77.778% !important;
    height: 387px;
    opacity: 1;
  }
  #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide.swiper-slide-prev, #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide.swiper-slide-next {
    opacity: 0.2;
  }
  #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide .img_box {
    height: 221px;
    border-radius: 20px;
  }
  #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide .txt_box {
    width: 97.142%;
    padding: 16px 0 0;
    margin: auto;
  }
  #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide .txt_box h5 {
    font-size: 16px;
    line-height: 23px;
  }
  #main .sect2 .sect2_slide .swiper-slide3 .slide_cont .sect2_cont_slide3 .swiper-slide .txt_box p {
    margin-top: 6px;
    font-size: 14px;
    line-height: 19px;
  }
  #main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area {
    width: 88.889%;
    padding: 20px 0 0;
  }
  #main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul {
    row-gap: 0;
  }
  #main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li {
    width: 47.813%;
  }
  #main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .img_box {
    height: 105px;
    border-radius: 20px;
  }
  #main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .img_box img {
    width: 80px;
  }
  #main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .txt_box {
    width: 94.771%;
    padding: 10px 0 22px;
    margin: auto;
  }
  #main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .txt_box h5 {
    font-size: 16px;
    line-height: 23px;
  }
  #main .sect2 .sect2_slide .swiper-slide4 .slide_cont_area ul li .txt_box span {
    text-indent: -9999px;
  }
  #main .sect2.height_change {
    height: 713px;
  }
  #main .sect3 {
    height: 640px;
  }
  #main .sect3 .cont_title {
    margin-bottom: 20px;
  }
  #main .sect3 .sect3_slide {
    height: 450px;
    margin-top: 10px;
  }
  #main .sect3 .sect3_slide .swiper-slide1 .sect3_cont_slide1 {
    padding: 20px 0 44px;
  }
  #main .sect3 .sect3_slide .swiper-slide1 .sect3_cont_slide1 .swiper-slide {
    width: 77.778% !important;
    height: 320px;
  }
  #main .sect3 .sect3_slide .swiper-slide1 .sect3_cont_slide1 .swiper-slide .img_box img {
    top: 30%;
    transform: translate(-50%, -30%);
    width: auto;
    height: 150%;
  }
  #main .sect3 .sect3_slide .swiper-slide1 .sect3_cont_slide1 .swiper-slide .slide_desc b {
    display: inline;
  }
  #main .sect3 .sect3_slide .swiper-slide2 .slide_cont .sect3_cont_slide2 {
    padding-top: 17px;
  }
  #main .sect3 .sect3_slide .swiper-slide2 .slide_cont .sect3_cont_slide2 .swiper-slide {
    width: 83.333%;
    height: 366px;
  }
  #main .sect3 .sect3_slide .swiper-slide2 .slide_cont .sect3_cont_slide2 .swiper-slide .img_box {
    position: relative;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
  }
  #main .sect3 .sect3_slide .swiper-slide2 .slide_cont .sect3_cont_slide2 .swiper-slide .img_box img {
    width: 100%;
    height: auto;
  }
  #main .sect3 .sect3_slide .swiper-slide2 .slide_cont .sect3_cont_slide2 .swiper-slide .txt_box {
    width: 97.333%;
    margin: auto;
    padding-top: 16px;
  }
  #main .sect3 .sect3_slide .swiper-slide2 .slide_cont .sect3_cont_slide2 .swiper-slide .txt_box h5 {
    font-size: 16px;
    line-height: 23px;
  }
  #main .sect3 .sect3_slide .swiper-slide2 .slide_cont .sect3_cont_slide2 .swiper-slide .txt_box p {
    margin: 6px 0;
    font-size: 14px;
    color: #555;
    line-height: 19px;
  }
  #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 {
    padding-top: 20px;
  }
  #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide {
    width: 77.778% !important;
    height: 387px;
    opacity: 1;
  }
  #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide.swiper-slide-prev, #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide.swiper-slide-next {
    opacity: 0.2;
  }
  #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .img_box {
    height: 221px;
    border-radius: 20px;
  }
  #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .img_box img {
    width: 120%;
    height: auto;
  }
  #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .txt_box {
    width: 97.142%;
    padding: 16px 0 0;
    margin: auto;
  }
  #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .txt_box h5 {
    font-size: 16px;
    line-height: 23px;
  }
  #main .sect3 .sect3_slide .swiper-slide3 .slide_cont .sect3_cont_slide3 .swiper-slide .txt_box p {
    margin-top: 6px;
    font-size: 14px;
    line-height: 19px;
  }
  #main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 {
    padding-top: 20px;
  }
  #main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide {
    flex-direction: column;
    align-items: center;
    width: 77.778% !important;
    height: 387px;
  }
  #main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .img_box {
    width: 100%;
    height: 220px;
    border-radius: 20px;
  }
  #main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .img_box img {
    width: 180px;
  }
  #main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box {
    width: 97.143%;
    height: auto;
    padding: 16px 0 0;
    background: none;
  }
  #main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box h5 {
    font-size: 16px;
    line-height: 23px;
  }
  #main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box p {
    padding: 6px 0;
    font-size: 14px;
    line-height: 19px;
  }
  #main .sect3 .sect3_slide .swiper-slide4 .slide_cont .sect3_cont_slide4 .swiper-slide .txt_box .more_info_btn {
    position: initial;
  }
  #main .slide_cont {
    padding: 20px 0 25px;
  }
  #main .slide_cont h4 {
    font-size: 16px;
    line-height: 23px;
  }
  #main .slide_cont i {
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
  }
  #main .slide_cont .swiper-slide {
    height: 320px;
    border-radius: 20px;
  }
  #main .slide_cont .swiper-slide .slide_desc {
    bottom: 0;
    height: 98px;
    padding: 27px 1.5% 0;
    font-size: 16px;
    line-height: 22px;
  }
  #main .slide_cont.swiper_mobile {
    height: auto;
    padding: 20px 0 25px;
  }
  #main .slide_cont .swiper-button-prev,
  #main .slide_cont .swiper-button-next {
    display: none;
  }
  #main .slide_cont .swiper-pagination {
    display: block;
  }
  #main .sect4 {
    padding-bottom: 25px;
  }
  #main .sect4 .section_inner .cont_list {
    row-gap: 20px;
    width: 88.889%;
    padding: 12px 0 50px;
  }
  #main .sect4 .section_inner .cont_list li {
    position: relative;
    width: calc(50% - 10px);
    height: 172px;
    padding: 20px 16px;
    border-radius: 20px;
  }
  #main .sect4 .section_inner .cont_list li b {
    position: absolute;
    top: 12px;
    left: 16px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
  #main .sect4 .section_inner .cont_list li .icon_box {
    width: 90px;
    height: 90px;
  }
  #main .sect4 .section_inner .cont_list li p {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }
  #main .sect4 .section_inner .cont_list li p.spacing {
    padding: 0 5px;
  }
  @keyframes text_animation1 {
    100% {
      color: #fff;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
  @keyframes text_animation2 {
    100% {
      color: #fff;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
  #header_area.on header .header_inner h1.logo a {
    background-image: url("../images/logo_mo_wh.svg");
  }
  #header_area.mainOn header {
    background: #fff;
  }
  #header_area.mainOn header .header_inner h1.logo a {
    background-image: url("../images/logo_bk.svg");
  }
  #header_area.mainOn header .gnb_area ol a {
    color: #111;
  }
  #header_area.mainOn header .gnb_area ol .gnb_list2 {
    color: #111;
  }
  #header_area.mainOn header .gnb_area ol .gnb_list2 span {
    background-image: url("../images/icon/icon-dropdown.svg");
  }
  #header_area.mainOn header .gnb_area ol .gnb_list2 a {
    color: #555;
  }
  #header_area.mainOn header .gnb_area ol .depth_list {
    background: none;
  }
  #header_area.mainOn header .mobile_menu_btn button {
    background-image: url("../images/icon/icon-menu-bl.svg");
  }
}