.popup_dim, .alert_dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 100vh;
  background: #333;
  opacity: 0.6;
}
.popup_dim.on, .alert_dim.on {
  display: block;
}

.alert_dim {
  z-index: 120;
}

.hidden {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  touch-action: none;
}

.popup {
  display: none;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  background: #fff;
}
.popup.on {
  display: block;
}
.popup .popup_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 0 40px;
  border-bottom: 1px solid #D9D9D9;
}
.popup .popup_top .null {
  width: 40px;
  height: 40px;
}
.popup .popup_top .popup_title {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
}
.popup .popup_top .close_btn, .popup .popup_top .close_btn_in_popup {
  width: 40px;
  height: 40px;
  background: url("../images/icon/icon-close.svg") no-repeat center/contain;
  cursor: pointer;
}
.popup .popup_content_area {
  max-height: calc(100vh - 220px);
  overflow-y: scroll;
}
.popup .popup_content_wrap {
  padding: 40px 0 60px;
  width: 92%;
  margin: auto;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc {
  display: flex;
  align-items: center;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 280px;
  background: #F5F5F5;
  border-radius: 30px;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .img_box img {
  width: auto;
  height: 220px;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box {
  width: calc(100% - 360px);
  padding-left: 5.435%;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box h4 {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box dl {
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box dl:last-child {
  margin-bottom: 0;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box dl dt {
  width: 86px;
  color: #555;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box dl dd {
  width: calc(100% - 90px);
  font-size: 20px;
  line-height: 1.45;
}
.popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box strong {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
}
.popup .popup_content_wrap .popup_content2 {
  height: 120px;
  margin: 40px 0;
  background: #F6FAFF;
  border-radius: 20px;
}
.popup .popup_content_wrap .popup_content2 h5.popup_content_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.popup .popup_content_wrap .popup_content2 h5.popup_content_desc i {
  display: block;
  margin-right: 20px;
  font-size: 20px;
  color: #555;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45;
}
.popup .popup_content_wrap .popup_content2 h5.popup_content_desc b {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
}
.popup .popup_content_wrap .popup_content2 h5.popup_content_desc b span {
  position: relative;
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #4267EB;
}
.popup .popup_content_wrap .popup_content2 h5.popup_content_desc b span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 15px;
  background: rgba(66, 103, 235, 0.15);
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc {
  padding-top: 20px;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc h4 {
  position: relative;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  text-align: center;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc h4 span {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc ul {
  display: flex;
  justify-content: space-between;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  border-radius: 30px;
  border: 1px solid #D9D9D9;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc ul li div {
  position: relative;
  padding-top: 59px;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc ul li div i {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #4267EB;
  white-space: nowrap;
  line-height: 23px;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc ul li div b {
  display: inline-block;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  border-bottom: 1px solid #D9D9D9;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc ul li p {
  margin-top: 16px;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc ul li.disabled_list {
  background: #F5F5F5;
  border-color: #F5F5F5;
}
.popup .popup_content_wrap .popup_content3 .popup_content_desc ul li.active_list {
  border-color: #4267EB;
}
.popup .popup_btm {
  padding: 40px 0 51px;
  background: #F6FAFF;
}
.popup .popup_btm h5 {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
}
.popup .popup_btm .popup_btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.popup .popup_btm .popup_btn .btn {
  width: 190px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
}

#popup_ver1 .popup_content_wrap .popup_content3 .popup_content_desc ul li, #popup_ver4 .popup_content_wrap .popup_content3 .popup_content_desc ul li {
  width: 23.37%;
}

#popup_ver2 .popup_content_wrap .popup_content3 .popup_content_desc ul li {
  width: 31.848%;
}

#popup_ver3 .popup_content_wrap .popup_content3 .popup_content_desc ul li {
  width: 18.957%;
}

.inquiry_alert_popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  min-width: 400px;
  padding: 40px 30px;
  background: #fff;
  border-radius: 30px;
}
.inquiry_alert_popup.on {
  display: block;
}
.inquiry_alert_popup .popup_content_area {
  padding-bottom: 40px;
}
.inquiry_alert_popup .popup_content_area h3.main_sentence {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}
.inquiry_alert_popup .popup_content_area p.popup_desc {
  margin-top: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}
.inquiry_alert_popup .popup_content_area p.popup_desc span {
  color: #4267EB;
}
.inquiry_alert_popup .popup_content_area p.popup_desc b {
  display: block;
  font-weight: 500;
}
.inquiry_alert_popup .popup_content_area i {
  display: block;
  margin-top: 16px;
  font-size: 20px;
  line-height: 1.45;
  color: #4267EB;
  font-style: normal;
  text-align: center;
}
.inquiry_alert_popup .popup_content_area .img_box {
  margin: 0 auto 16px;
  width: 120px;
  height: 120px;
}
.inquiry_alert_popup .popup_btm .popup_btn {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.inquiry_alert_popup .popup_btm .popup_btn .btn {
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .popup {
    top: 0;
  }
  .popup .popup_top {
    height: 56px;
    padding: 0 16px;
  }
  .popup .popup_top .popup_title {
    font-size: 16px;
    line-height: 23px;
  }
  .popup .popup_top .close_btn, .popup .popup_top .close_btn_in_popup {
    width: 30px;
    height: 30px;
  }
  .popup .popup_content_area {
    height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
  }
  .popup .popup_content_wrap {
    width: 88.889%;
    padding: 40px 0;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc {
    flex-direction: column;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .img_box {
    width: 100%;
    height: 206px;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .img_box img {
    height: 160px;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box {
    width: 97.5%;
    padding: 0;
    margin: 16px auto 0;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box h4 {
    font-size: 24px;
    line-height: 35px;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box dl {
    margin-bottom: 5px;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box dl dt {
    width: 60px;
    color: #8b8b8b;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.045em;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box dl dt .essential_item {
    font-size: 16px;
    line-height: 23px;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box dl dd {
    width: calc(100% - 64px);
    font-size: 16px;
    line-height: 22px;
  }
  .popup .popup_content_wrap .popup_content1 .popup_content_desc .txt_box strong {
    margin-bottom: 4px;
    font-size: 15px;
  }
  .popup .popup_content_wrap .popup_content2 {
    height: 160px;
  }
  .popup .popup_content_wrap .popup_content2 h5.popup_content_desc {
    flex-direction: column;
  }
  .popup .popup_content_wrap .popup_content2 h5.popup_content_desc i {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .popup .popup_content_wrap .popup_content2 h5.popup_content_desc b {
    font-size: 16px;
    line-height: 23px;
  }
  .popup .popup_content_wrap .popup_content2 h5.popup_content_desc b span {
    font-size: 20px;
    line-height: 30px;
  }
  .popup .popup_content_wrap .popup_content2 h5.popup_content_desc b span::after {
    height: 11px;
  }
  .popup .popup_content_wrap .popup_content2 h5.popup_content_desc b span:last-child {
    display: block;
    width: 97px;
    margin: auto;
    white-space: nowrap;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc {
    padding-top: 0;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc h4 {
    width: 97.5%;
    margin: 0 auto 16px;
    font-size: 20px;
    line-height: 29px;
    text-align-last: left;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc h4 span {
    font-size: 14px;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc ul {
    flex-direction: column;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc ul li {
    height: 70px;
    padding: 0 16px;
    margin-bottom: 12px;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 20px;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc ul li div {
    width: 90px;
    padding-top: 0;
    border-right: 1px solid #d9d9d9;
    text-align: center;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc ul li div i {
    position: initial;
    display: block;
    transform: translateX(0);
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc ul li div b {
    padding: 0;
    border: none;
    font-size: 14px;
    line-height: 20px;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc ul li p {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }
  .popup .popup_content_wrap .popup_content3 .popup_content_desc ul li:last-child {
    margin-bottom: 0;
  }
  .popup .popup_btm {
    padding: 40px 0;
  }
  .popup .popup_btm h5 {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 23px;
  }
  .popup .popup_btm .popup_btn {
    gap: 16px;
  }
  .popup .popup_btm .popup_btn .btn {
    width: 140px;
    height: 44px;
    font-size: 14px;
    line-height: 20px;
  }
  #popup_ver1 .popup_content_wrap .popup_content3 .popup_content_desc ul li {
    width: 100%;
  }
  #popup_ver2 .popup_content_wrap .popup_content3 .popup_content_desc ul li {
    width: 100%;
  }
  #popup_ver3 .popup_content_wrap .popup_content2 h5.popup_content_desc b span:last-child {
    width: 146px;
  }
  #popup_ver3 .popup_content_wrap .popup_content3 .popup_content_desc ul li {
    width: 100%;
  }
  #popup_ver4 .popup_content_wrap .popup_content3 .popup_content_desc ul li {
    width: 100%;
  }
  .inquiry_alert_popup {
    min-width: 280px;
    padding: 20px 30px;
    border-radius: 20px;
  }
  .inquiry_alert_popup .popup_content_area {
    padding-bottom: 24px;
  }
  .inquiry_alert_popup .popup_content_area h3.main_sentence {
    font-size: 16px;
    line-height: 23px;
  }
  .inquiry_alert_popup .popup_content_area p.popup_desc {
    margin-top: 8px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.055em;
  }
  .inquiry_alert_popup .popup_content_area p.popup_desc b {
    display: inline;
  }
  .inquiry_alert_popup .popup_content_area i {
    margin-top: 8px;
    font-size: 14px;
    line-height: 19px;
    white-space: nowrap;
  }
  .inquiry_alert_popup .popup_content_area .img_box {
    width: 80px;
    height: 80px;
  }
  .inquiry_alert_popup .popup_btm .popup_btn {
    gap: 8px;
  }
  .inquiry_alert_popup .popup_btm .popup_btn .btn {
    width: 116px;
    height: 44px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .popup_content_area {
    height: calc(var(--var, 1vh) * 100 - 56px);
    max-height: calc(var(--var, 1vh) * 100 - 56px);
  }
}