@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
.sect1{
    .section_inner {
        max-width: initial;
    }
    padding: 200px 0 40px;
    /* header position 변경 안 하면 top +100 */
    h2{
        font-weight: 700;
        font-size: 56px;
        line-height: 81px;
        text-align: center;
        span{
            display: block;
            margin-bottom: 6px;
            font-weight: 500;
            font-size: 32px;
            color: #9c9c9c;
            line-height: 46px;
        }
    }
    .cont_bg{
        background: #f5f5f5;
    }
    .cont_img{
        position: relative;
        max-width: 1920px;
        margin: 80px auto 0;
        height: 600px;
        .desc{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 50%;
            h3{
                font-weight: 700;
                font-size: 48px;
                line-height: 70px;
            }
            p{
                width: 63.542%;
                margin-top: 20px;
                color: #555;
                font-size: 24px;
                line-height: 35px;
                letter-spacing: -0.03em;
                span{
                    display: block;
                }
            }
        }
    }
}

.sect2{
    padding: 28px 0 60px;

    .tab_list{
        width: 100%;
        margin-bottom: 38px;
        background: #fff;
        li{
            transition: .3s;
        }
    }
    &.on{
        padding-top: 146px;
        ul.tab_list{
            position: fixed;
            top: 100px;
            left: 0;
            z-index: 15;
            li{
                line-height: 80px;
            }
        }
    }
    .content{
        max-width: 1260px;
        padding: 50px 10px 60px;
        margin: auto;

        .cont_title{
            padding: 0 10px;
            h4{
                font-weight: 700;
                font-size: 48px;
                line-height: 70px;
                p{
                    margin-top: 10px;
                    color: #555;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 35px;
                }
            }
        }

        .service_list{
            margin-top: 50px;
            ul{
                display: flex;
                justify-content: space-between;
                >li{
                    width: 30.645%;
                    .img_box{
                        position: relative;
                        height: 320px;
                        border-radius: 30px;
                        overflow: hidden;
                        img{
                            width: auto;
                            height: 100%;
                        }
                    }
                    .desc{
                        padding: 20px 10px 0;
                        h5{
                            margin-bottom: 10px;
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 41px;
                        }
                        ol{
                            display: flex;
                            flex-wrap: wrap;
                            >li{
                                position: relative;
                                margin-right: 10px;
                                color: #4267EB;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 23px;
                                &:last-child{
                                    margin: 0;
                                }
                                &:after{
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    display: block;
                                    width: 100%;
                                    height: 8px;
                                    background: rgba(66, 103, 235, 0.15);
                                }
                            }
                        }
                        p{
                            margin-top: 10px;
                            color: #555;
                            font-size: 20px;
                            line-height: 1.45;
                            letter-spacing: -0.05em;
                        }
                    }
                }
            }
        }

        .group_type{
            padding-bottom: 50px;
            &:last-child{
                padding-bottom: 0;
            }
            h4.cont_title{
                margin-bottom: 40px;
                font-weight: 700;
                font-size: 48px;
                line-height: 70px; 
            }
            ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li{
                    margin-bottom: 50px;
                }
                .img_box{
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 320px;
                    background: #f5f5f5;
                    border-radius: 30px;
                    overflow: hidden;
                    img{
                        width: 300px;
                    }
                }
                
                .detail_info{
                    padding: 0 10px;
                    h5{
                        margin: 20px 0 10px;
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 42px;
                        &.en{
                            font-family: 'Poppins', sans-serif;
                        }
                    }
                    .detail_list{
                        dl{
                            display: flex;
                            gap: 12px;
                            margin-bottom: 6px;
                            font-size: 20px;
                            line-height: 1.45;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            dt{
                                width: 80px;
                                font-weight: 500;
                                color: #8b8b8b;
                            }
                            dd{
                                width: calc(100% - 92px);
                            }
                        }
                        span{
                            display: block;
                            margin-bottom: 6px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 1.45;
                        }
                    }
                    .more_info_btn{
                        margin-top: 10px;
                    }
                }

            }

            &.group_type1{
                ul li{
                    width: 47.984%;
                }
            }
            &.group_type2{
                ul li{
                    width: 30.645%;
                }
            }
            &.group_type3{
                display: flex;
                justify-content: space-between;
                >div{
                    width: 47.984%;
                    ul{
                        display: block;
                    }
                }
            }
            &.group_type4{
                li{
                    display: flex;
                    justify-content: space-between;
                    width: 47.984%;
                    .img_box{
                        width: 50.42%;
                        height: 350px;
                    }
                    .detail_info{
                        position: relative;
                        max-width: 260px;
                        padding: 10px 0 0 15px;
                        h5{
                            margin-top: 0;
                        }
                        .more_info_btn{
                            position: absolute;
                            bottom: 0;
                            left: 15px;
                        }
                    }
                }
            }
            li.signature{
                position: relative;
                .tag_img{
                    position: absolute;
                    top: 15px;
                    left: -8px;
                }
            }
        }


    }
    .tab_content_area .content{
        display: none;
        &.active{
            display: block;
        }

    }
}

.sect3{
    .content{
        position: relative;
        max-width: 1920px;
        height: 600px;
        margin: auto;
    }
    .aside_area{
        .img_box{
            position: absolute;
        }
        .desc{
            width: 50%;
            h4{
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 48px;
                line-height: 70px;
            }
            p{
                color: #555;
                font-size: 24px;
                line-height: 35px;
            }
            .btn{
                width: 240px;
                height: 76px;
                margin-top: 40px;
                font-size: 26px;
                font-weight: 700;
            }
        }
    }
}

/* ---------- sub2_1 ---------- */
#sub2_1{
    .cont_img{
        background: url("../../images/sub2/sub2_1_visual_img2.png") no-repeat 4.167% 50%/800px;
    }

    .sect2{
        .content1 .content_inner>div:nth-child(2){
            padding-top: 100px;
            .service_list ul>li{
                width: 48.065%;
            }
        }

    }
    .sect3{
        background:  #F5F5F5;
        .aside_area{
            .img_box{
                top: 149px;
                right: 56.823%;
                width: 696px;
            }
            .desc{
                padding: 144px 10px 0;
                margin-left: 50%;
            }
        }
    }
}



/* ---------- sub2_2 ---------- */
#sub2_2{
    .cont_img{
        background: url("../../images/sub2/sub2_2_visual_img3.png") no-repeat 4.167% 50%/800px;
    }
    .sect2{
        .cont_title{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .btn_wh{
                width: 217px;
                height: 60px;
                font-size: 20px;
            }
        }
        .cont_summary{
            margin: 30px 0 50px;
            padding: 30px;
            background: #F6FAFF;
            border-radius: 30px;
            ul{
                display: flex;
                flex-wrap: wrap;
                row-gap: 16px;
                li{
                    display: flex;
                    gap: 4px;
                    width: 50%;
                    font-size: 20px;
                    line-height: 1.45;
                    b{
                        position: relative;
                        display: inline-block;
                        min-width: 70px;
                        padding-left: 12px;
                        color: #555;
                        font-weight: 500;

                        &::after{
                            content: "";
                            position: absolute;
                            top: 14px;
                            left: 4px;
                            display: block;
                            width: 3px;
                            height: 3px;
                            background: #555;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
        .content1 .group_type ul .img_box img{
            width: 250px;
        }
        .content1 .cont_summary ul li:last-child{
            width: 100%;
        }
        .content2 .cont_summary ul li:first-child{
            width: 100%;
        }
    }
    .sect3{
        background: #f5f5f5;
        .aside_area{
            max-width: 1920px;
            .img_box{
                top: 50%;
                left: 56.771%;
                transform: translateY(-50%);
                width: 700px;
                //width: 36.51%;

            }
            .desc{
                position: relative;
                z-index: 5;
                max-width: 1260px;
                width: 100%;
                margin: auto;
                padding: 112px 10px 0;
                p{
                    width: 63.625%;
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}

/* ---------- sub2_3 ---------- */
#sub2_3{
    .cont_img{
        background: url("../../images/sub2/sub2_3_visual_img2.png") no-repeat 4.167% 50%/800px;
    }

    .sect2{
        .content1{
            .cont_desc{
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                .img_box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 47.984%;
                    height: 600px;
                    background: url('../../images/sub34/map_img.png') no-repeat center/contain, #f5f5f5;
                    border-radius: 20px;
                }
                ol{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 47.984%;
                    height: 600px;
                    li{
                        padding: 15px 6.722%;
                        background: #F6FAFF;
                        border-radius: 20px;
                        .desc{
                            display: flex;
                            align-items: center;
                            gap: 6.722%;
                            .icon_box{
                                width: 150px;
                            }
                            p{
                                font-weight: 500;
                                font-size: 28px;
                                line-height: 41px;
                            }
                        }
                    }
                }
            }
        }

        .content2{
            .cont_table_area{
                margin-top: 50px;
                .cont_table{
                    min-width: 600px;
                    border-top: 2px solid #333;
                    border-bottom: 1px solid #555;
                    .row{
                        display: flex;
                        border-bottom: 1px solid #d9d9d9;
                        &.row1{
                            border-color: #9c9c9c;
                            background: #F5F5F5;
                        }
                        
                        &:last-child{
                            border: none;
                        }
                    }
                    .col{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20%;
                        height: 90px;
                        padding: 0 10px;
                        text-align: center;
                        border-right: 1px solid #d9d9d9;
                        &.col1{
                            border-color: #9c9c9c;
                            background: #F5F5F5;
                        }
                        &:last-child{
                            border: none;
                        }

                        strong{
                            font-size: 26px;
                            color: #555;
                            font-weight: 500;
                            line-height: 39px;
                        }
                        span{
                            font-size: 26px;
                            line-height: 39px;
                        }

                        &.col5{
                            span{
                                color: #4267EB;
                            }
                        }
                    }
                    .row5 .col5 span{
                        color: #111;
                    }
                }
                .detail_info{
                    margin-top: 30px;
                    div{
                        display: flex;
                        gap: 10px;
                        margin-bottom: 14px;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.45;
                        p{
                            color: #9C9C9C;
                            font-weight: 400;
                        }
                        &:first-child .essential_item{
                            color: #4267EB
                        }

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .content3{
            .service_list ul > li{
                width: 47.581%;
                .img_box{
                    height: 400px;
                    img{
                        width: auto;
                        height: 110%;
                    }
                }
                .desc{
                    padding-top: 32px;
                }
            }
        }
    }
    
    .sect3{
        padding: 0px 0 150px;
        .content{
            height: auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    #sub2_2{
        .sect3{
            .aside_area{
                .desc{
                    p span{
                        display: inline;
                    }
                }
            }
        }
    }
}
/* ---------- tablet & mobile ---------- */

@media screen and (max-width: 1024px) {
    .sect1{
        padding: 106px 0 0;
        h2{
            font-size: 32px;
            line-height: 46px;
            span{
                margin-bottom: 2px;
                font-size: 20px;
                line-height: 29px;
            }
        }
        .cont_img{
            height: 420px;
            margin-top: 20px;
            .desc{
                display: block;
                width: 86.667%;
                margin: auto;
                text-align: center;
                h3{
                    font-size: 28px;
                    line-height: 41px;
                }
                p{
                    width: 100%;
                    padding: 0 24px;
                    margin: 8px auto 0;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    .sect2{
        padding: 32px 0 50px;
        .tab_list{
            margin-bottom: 40px;
        }
        &.on{
            padding-top: 108px;
            ul.tab_list{
                top: 56px;
                li{
                    line-height: 56px;
                }
            }
        }

        .content{
            width: 88.889%;
            padding: 0;
            .cont_title{
                width: 97.5%;
                margin: auto;
                padding: 0;
                h4{
                    font-size: 24px;
                    line-height: 35px;
                    p{
                        margin-top: 4px;
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
            .service_list{
                margin-top: 24px;
                ul{
                    flex-direction: column;
                    >li{
                        width: 100%;
                        .img_box{
                            height: 270px;
                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: auto;
                            }
                        }
                        .desc{
                            width: 97.5%;
                            margin: auto;
                            padding: 16px 0 24px;
                            h5{
                                margin-bottom: 6px;
                                font-size: 16px;
                                line-height: 23px;
                            }
                            ol>li{
                                font-size: 13px;
                                line-height: 19px;
                                &:after{
                                    height: 6px;
                                }
                            }
                            p{
                                margin-top: 6px;
                                font-size: 14px;
                                line-height: 19px;
                            }
                        }
                    }
                }
            }
            .group_type{
                padding-bottom: 26x;
                h4.cont_title{
                    margin-bottom: 24px;
                    font-size: 24px;
                    line-height: 36px;

                }
                ul{
                    flex-direction: column;
                    li{
                        margin-bottom: 24px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    .img_box{
                        height: 270px;
                        border-radius: 20px;
                        img{
                            width: 200px;
                        }
                    }
                    .detail_info{
                        width: 97.5%;
                        padding: 0;
                        margin: auto;
                        h5{
                            margin: 16px 0 6px;
                            font-size: 16px;
                            line-height: 24px;
                        }
                        .detail_list{
                            dl{
                                gap: 4px;
                                margin-bottom: 2px;
                                font-size: 13px;
                                line-height: 19px;
                                dt{
                                    width: 60px;
                                }
                                dd{
                                    width: calc(100% - 64px);
                                }
                            }
                            span{
                                margin-bottom: 2px;
                                font-size: 13px;
                                line-height: 19px;
                            }
                        }
                        .more_info_btn{
                            margin-top: 8px;
                        }
                    }
                }
                &.group_type1 ul li,
                &.group_type2 ul li{
                    width: 100%;
                }
                &.group_type3{
                    flex-direction: column;
                    >div{
                        width: 100%;
                        margin-bottom: 24px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                &.group_type4{
                    li{
                        flex-direction: column;
                        width: 100%;
                        .img_box{
                            width: 100%;
                            height: 270px;
                        }
                        .detail_info{
                            max-width: initial;
                            width: 97.5%;
                            padding: 0;
                            h5{
                                margin-top: 16px;
                            }
                            .more_info_btn{
                                position: initial;
                            }
                        }
                    }
                }
                li.signature{
                    .tag_img{
                        top: 10px;
                        left: -5px;
                        width: 100px;
                    }
                }
            }
        }
    }

    .sect3{
        .content{
            height: 450px;
            overflow: hidden;
        }
        .aside_area{
            .img_box{
                position: initial;
                margin-top: 50px;
            }
            .desc{
                h4{
                    margin-bottom: 8px;
                    font-size: 28px;
                    line-height: 41px;
                }
                p{
                    font-size: 14px;
                    line-height: 19px;
                }
                .btn{
                    width: 120px;
                    height: 44px;
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
    }

    /* ---------- sub2_1 ---------- */
    #sub2_1{
        .sect1 .cont_img{
            background-size: 300px;
            background-position: 50% 34px ;
            .desc{
                padding-top: 237px;
            }
        }
        .sect2{
            .content1 .content_inner>div:nth-child(2){
                padding-top: 0;
                .service_list ul>li{
                    width: 100%;
                    .img_box img{
                        width: 140%;
                    }
                }
            }
        }
        .sect3{
            .aside_area{
                .img_box{
                    width: 84.722%;
                    margin-left: 3.889%;
                    min-width: 305px;
                }
                .desc{
                    width: 86.667%;
                    padding: 30px 0 0;
                    margin: auto;
                }
            }
        }
    }

    /* ---------- sub2_2 ---------- */
    #sub2_2{
        .sect1 .cont_img{
            background-size: 300px;
            background-position: 50% 32px;
            .desc{
                padding-top: 236px;
            }
        }

        .sect2{
            ul.tab_list{
                gap: 10px;
                li{
                    white-space: nowrap;
                }
            } 
            .cont_title{
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                .btn_wh{
                    width: 150px;
                    height: 44px;
                    font-size: 14px;
                }
            }
            .cont_summary{
                margin: 20px 0;
                padding: 20px 16px;
                ul{
                    flex-direction: column;
                    li{
                        flex-direction: column;
                        width: 100%;
                        padding-left: 8px;
                        font-size: 14px;
                        line-height: 19px;
                        b{
                            padding-left: 0px;
                            font-size: 14px;
                            line-height: 20px;
                            &::after{
                                top: 9px;
                                left: -5px;
                                width: 2px;
                                height: 2px;
                            }
                        }
                    }
                }
            }
            .content1 .group_type ul .img_box img{
                width: 200px;
            }
        }

        .sect3{
            .aside_area{
                .desc{
                    width: 86.667%;
                    padding: 30px 0 0;
                    margin: auto;
                    h4 span{
                        display: block;
                    }
                    p{
                        width: 95%;
                    }
                }
                .img_box{
                    transform: translateY(0);
                    width: 68.055%;
                    min-width: 245px;
                    margin-left: 16.389%;
                }
            }
        }
    }

    /* ---------- sub2_3 ---------- */
    #sub2_3{
        .sect1 .cont_img{
            background-size: 300px;
            background-position: 50% 36px ;
            .desc{
                padding-top: 243px;
                p{
                    letter-spacing: 0;
                }
            }
        }
        .sect2{
            padding: 40px 0 0;
            .content{
                padding-bottom: 50px;
            }
            .content1{
                .cont_desc{
                    margin-top: 24px;
                    flex-direction: column;
                    .img_box{
                        width: 100%;
                        height: 323px;
                        background: url('../../images/sub34/map_mb_img.png') no-repeat center/contain, #f5f5f5;
                    }
                    ol{
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 12px;
                        width: 100%;
                        height: auto;
                        margin-top: 24px;
                        li{
                            padding: 10px 16px;
                            .desc{
                                gap: 20px;
                                .icon_box{
                                    width: 80px;
                                }
                                p{
                                    font-size: 16px;
                                    line-height: 23px;                                         
                                }
                            }
                        }
                    }
                }
            }
            .content2{
                .cont_table_area{
                    margin-top: 24px;
                    .cont_table_inner{
                        padding-bottom: 8px;
                        overflow-x: scroll;
                        &::-webkit-scrollbar{
                            height: 4px;
                        }
                        &::-webkit-scrollbar-thumb{
                            height: 4px;
                            padding-top: 8px;
                            background: rgba(51, 51, 51, 0.2);
                            border-radius: 3px;
                        }

                        .cont_table{
                            .col{
                                height: 48px;
                                strong, span{
                                    font-size: 14px;
                                    line-height: 19px;
                                }
                            }
                        }
                    }
                    .detail_info{
                        margin-top: 12px;
                        div{
                            margin-bottom: 6px;
                            font-size: 13px;
                            line-height: 19px;
                            .essential_item{
                                display: block;
                                width: 61px;
                                letter-spacing: -0.02em;
                            }
                            p{
                                width: calc(100% - 71px);
                            }
                        }
                    }
                }
            }
            .content3{
                .service_list ul > li{
                    width: 100%;
                    .img_box{
                        height: 270px;
                        img{
                            width: 125%;
                            height: auto;
                        }
                    }
                    .desc{
                        padding: 16px 0 30px;
                    }

                    &:last-child .desc{
                        padding-bottom: 0;
                    }
                }
            }
        }
        .sect3{
            padding: 0 0 50px;
        }
    }



}